/* Reset */
img {
    max-width: 100%;
}

/* utilities */

.ms_container {
    width: 90%;
    margin: 0 auto;
}

/* Layout */

/* Typography */
body {
    font-family: 'Open Sans', sans-serif;
}

.ms_wrapper {
    width: 100%;
    height: 100vh;
}

.header {
    width: 100%;
    height: 80px;
    /* debug */
    color:white;
    background-color: #F8F9FA; 
}

.main {
    width: 100%;
    height: calc(100% - 80px);
    /* debug */
    color: white;
    background-color: #F8F9FA;
    border: 2px solid green;
}

.sidebar {
    width: 60px;
    height: 100%;
    /* debug */
    color: white;
    background-color: #13293F;
}

.content {
    height: 100%;
    width: calc(100% - 60px);
    overflow-y: auto;
    /* debug */
    border: 3px solid red;
}

.cta {
    width: 100%;
    /* height: 100px; */
    /* debug */
    background-color: #1B72E8;
    border:3px solid violet;
    color: white;
}


/* HEADER */

.header img {
    width: 50px;
}

.header .big-logo img {
    width: 100px;
}

.fa-solid.fa-bell {
    color: #FF8F00;
}

.actions {
    color: red;
}

/* cta */

.btn-primary {
    background-color: #165BBA;
    border-radius: 1.25rem;
}


/* Main content */

.main-content {
    color: black;
}


/* Sidebar */

@media screen and (min-width:992px) {
    .sidebar {
        width: 120px;
    }

    .content {
        width: calc(100% - 120px);
    }

}